/*
===============
Title section
===============
*/
.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--gray-300);
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

/*
===============
Social Medias
===============
*/
.sectionMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

/* .sectionMenu button, a {
  margin-bottom: 0.5rem;
  padding: 0 0.3rem 0 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13rem;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid var(--gray-300);
  background-color: var(--green-700);
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--gray-300);
  transition: background-color 0.3s linear;
  cursor: pointer;
  text-decoration: none;
} */

/* .sectionMenu button:hover, a:hover {
  animation: sectionIcons .3s;
  animation-iteration-count: 5;
  border: 1px solid var(--gray-400);
  background-color: var(--green-500);
  color: var(--gray-400);
} */

/* @keyframes sectionIcons {
  0% {margin-left: 0;}
  25% {margin-left: 7px;}
  50% {margin-left: 0;}
  75% {margin-left: -7px;}
  100% {margin-left: 0;}
} */

/* .sectionMenu .instagramButton:hover {
  color: var(--gray-400);
} */

/* .sectionMenu .tiktokButton:hover {
  color: var(--gray-400);
} */

/* .sectionMenu .youtubeButton:hover {
  color: var(--gray-400);
} */

/* .sectionMenu button:hover {
  border: 1px solid var(--gray-400);
  background-color: var(--green-500);
  color: var(--gray-400);
} */